

body {
  font-family: 'comic sans ms', sans-serif;
  line-height: 2;
  background: #BDBDBD;
  color: #D8D8D8;
}
.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

img {
  max-width:220px;
  border-radius:0rem  5rem ;
  height: 250px;
  box-shadow: 0 6px 6px #FAFAFA;
  

}

.icon {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
}

a {
  color: #D8D8D8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 60px;
  background: #424242;
  text-align: justify;
  border: #585858;
  border-radius: 3rem;
  border-width: 15px;
  border-style: double;
  box-shadow: 0 0 10px black;
}

section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  padding: 24px 0;
  border-bottom: 4px dotted rgb(77, 129, 173);
}

section:last-child {
  border-bottom: none;
}

.section-title {
  color: #424242;
  margin-right: 40px;
  font-weight: bold;
  font-size: 18px;
  background-color: #FAFAFA;
  opacity: 0.5;
  box-shadow: 20px 20px 50px 10px #424242 inset;
  border:#2E2EFE;
  border-width: 8px;
  border-bottom-style: groove;
  border-radius: 3rem;
  justify-content: center;
  display: flex;
  align-items: center;
}

/***********************************
* =Main Info
***********************************/

img.avatar {
  height: 250px
}

.my-name {
  color: white;
  font-size: 48px;
  background: linear-gradient(90deg, rgb(248, 245, 245), rgb(145, 143, 143), rgb(75, 74, 74));
  border-bottom:4px ridge rgb(59, 12, 230);
  border-radius: 3rem;
  text-shadow:0 0 10px #F2F2F2;
  text-align: center; 
  width: 400px;
  margin-left: 180px;
}
.my-name:hover{
  color: black;
  box-shadow: 10px 10px 30px 5px #424242 inset;
}

.my-title {
  font-size: 34px;
  font-weight: 300;
  color: #236FB2;
  text-align: center;

}

.links {
  display: flex;
  margin: 10px 0 20px 0;
}

.link-item {
  display: flex;
  align-items: center;
  flex: 1;
}

.link-item svg {
  margin-right: 6px;
}

/***********************************
* =Experience
***********************************/

.job {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px dashed rgb(77, 129, 173);
}

.job:last-child {
  border-bottom: none;
}

.job-title-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: center !important ;
  margin-left: 250px;
}

.job-company {
  font-weight: bold;
  line-height: 1.2;
  text-align: center;

  
}


/***********************************
* =Skills
***********************************/

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 24px;
}

.skills-container ul {
  margin-left: 20px;
  list-style-type: disc;
}

/***********************************
* =Interests
***********************************/

.interests-container {
  display: flex;
  justify-content: space-between;
}

.interests-container img {
  height: 60px;
  opacity: 1;
  border-radius: 5em;
}

/***********************************
* =References
***********************************/

.reference {
  font-size: 18px;
  text-align: center;
}

.reference-details {
  margin-bottom: 20px;
}

@media only screen and (max-width : 768px) {
  section {
    grid-template-columns: 1fr;
  }

  .links, .job-title-container {
    flex-direction: column;
  }

  .skills-container {
    grid-template-columns: 1fr 1fr;
  }

  .interests-container {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
button{
  margin-left: 50em;
  border-radius: 20px;
  background: linear-gradient(90deg, rgb(248, 245, 245), rgb(145, 143, 143), rgb(75, 74, 74));
  box-shadow: 0 0 10px rgb(59, 12, 230); 
}
button a{
  color: black;
}
button:hover{
  background: linear-gradient(90deg, rgb(51, 3, 243), rgb(68, 33, 207), rgb(126, 125, 168));
}
button:active{
  transform:rotate(200deg);
}
